{% extends 'brochure/base.html' %}
{% block content %}
{% include 'ice_cream/header.html' %}
{% for object in object_list %}
  <form action='{% url 'ice_cream:increment_likes' object.id %}' method='post'>
    {% csrf_token %}
    <div>
      <p>{{object.flavor}}</p>
      <button name=>+<span>{{object.likes}}</span></button>
      {% if request.user.is_superuser %}
      <a href="{% url 'ice_cream:delete' object.id %}">Delete</a>
      {% endif %}
    </div>
  </form>
{% endfor %}
{% endblock %}
